.Spain{
    fill: greenyellow;
}

.France{
    fill: yellow;
}

.Argentina{
    fill: yellow;
}

.England{
    fill: greenyellow;
}

.Brazil{
    fill: red;
}

.Germany{
    fill: orange;
}

.Italy{
    fill: orange;
}

.Uruguay{
    fill: yellow; 
}



